body {
  background-color: beige;
}

.container {
  box-shadow: 1px 1px 10px black;
  width: 200px;
  position: fixed;
  top: 50%;
  left: 43%;
  text-align: center;
  padding-bottom: 20px;
}

.input {
  display: contents;
}

.button {
  padding-top: 10px;
}
