.container {
  width: auto;
  height: auto;
  box-shadow: 10px 5px 5px gray;

  &__detail {
    margin-top: 10px;
    display: block;
    margin-left: 10px;

    &__flex {
      display: flex;
    }
  }
}

#icon-size {
  font-size: 36px;
}
