<div class="container">
  <div class="container__head">
    <h2 class="container__head__title">Projekt1</h2>
    <div class="container__state">
      <div class="container__dot">
        <span class="container__state__dots"></span>
      </div>
    </div>
  </div>
  <div class="container__content">
    <div class="container__content__head">
      <div>
        <p>Projektleiter:</p>
        <p class="text">Mitarbeiter:</p>
      </div>
      <div>
        <p class="text">Franz Müller</p>
        <p>Hans Franz <br> Ueli Mueli <br> Noah Lüg</p>
      </div>
    </div>
    <div class="container__content__main">
      <div class="package">
        <p class="package__text">Projektstand</p>
        <label>
          <input type="checkbox" checked>
        </label> Abreitspaket 1 <br>
        <label>
          <input type="checkbox" checked>
        </label> Abreitspaket 2 <br>
        <label>
          <input type="checkbox">
        </label> Abreitspaket 3 <br>
        <label>
          <input type="checkbox">
        </label> Abreitspaket 4 <br>
        <label>
          <input type="checkbox">
        </label> Abreitspaket 5 <br>
        <label>
          <input type="checkbox">
        </label> Abreitspaket 6 <br>
      </div>
      <div class="width">
        <p>ArbeitsPaket 3</p>
        <div class="head">
          <p class="head__text">AbreitsZiel</p>
          <p class="head__text">Aufgabe</p>
          <p class="head__text">Termine</p>
          <p class="head__text1">Resultatdarstellung</p>
        </div>
        <div class="mainbody">
          <p class="mainbody__text1">Am Schluss soll ein Prototyp vorhanden <br>sein, der zeigt, wie das Endprodukt aussehen wird. Es wird eine ähnliche Darstellung wie das Endprodukt haben und die Funktionalitäten, des Endprodukts werden vorhanden sein. </p>
          <p class="mainbody__text2">Der Entwickler sollte ein Mockups anfertigen, damit jeder weiss, wie das Endprodukt aussehen sollte.<br>Als Entwickler möchte ich zuerst einen Prototyp erstellen, um mögliche Probleme frühzeitig zu erkennen. <br>Als Entwickler möchte ich die Webseite programmieren, so dass sie den Anforderungen entspricht.  </p>
          <p class="mainbody__text3">Der Prototyp muss bis Ende 2019 designt, fertiggestellt, und getestet sein.  </p>
          <p class="mainbody__text4">Anhand eines Mockups, dass mit dem Programm „Balsamiq Mockups“ erstellt wird, kann man sehen, wie der Prototyp, schlussendlich aussehen wird. Der Prototyp wird eine Webseite sein, die das Endprodukt darstellen soll. </p>
        </div>
      </div>
    </div>
  </div>
</div>
