<div class="container">
  <div class="container__head">
    <h2>Projekt 1</h2>
    <div class="container__state">
      <div class="container__dot">
        <span class="container__state__dots"></span>
      </div>
    </div>
  </div>
  <div class="container__content">
    <div>
      <p>Status:</p>
      <p class="container__content__text">Mitarbeiter:</p>
    </div>
    <div>
      <p class="container__content__text">in Arbeit</p>
      <p>Hans Franz <br> Ueli Mueli <br> Noah Lüg</p>
    </div>
  </div>
</div>
